body{
	height:auto;
}
.news-item-title{
	color:#269fb2;
}
.news-item-title:hover{
	text-decoration: none;
	color:#ff7f74;
}
.news-items2 {
	margin: 1em 0 0;
}
.news-items2 li {
	padding-left:1.5em;
	padding-bottom: 0.7em;
	margin-bottom: 0.7em;
	border-bottom: 1px dotted #CCC;
	margin-right:20px;
	margin-left:15px;
	list-style: none;
}
.news-items2 li:last-child { padding-bottom: 0; border: none; margin-bottom:20px;}
.leftbar{
	position: relative;
	display: block; 
	float: left; 
	z-index: 5; 
}
.leftbar2{
	float:left;
	margin-top:-50px;
	margin-left:-30px;
	position:static;
}
.leftmenubar{
	float:left;
	width:300px;
	margin-left:60px;
}
.mainpage{
	float:right;
}
.span8{
	width:860px;
}
.widget-content a{
	color:#269fb2;
}
.widget-content a:hover{
	text-decoration: none;
}
.pernyataan{
	margin:0px 25px 25px 40px;
}
.fields{
	font-size:14px;
	margin-left:40px;
}
.center{
	text-align:center;
	margin:10px 40px;
}
.tanggal_p{
	float:right;
	margin:20px;
}
.isii{
	margin-top:3px;
}
.file_gambar{
	width:760px;
	height:1000px;
	text-align:center;
	margin:-20px 20px 20px 20px;
}